

.user-profile-wrapper {
  background-image: url('/images/profilebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(6px);
  padding: 40px 20px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  animation-duration: 1s;
}

.form-control-plaintext {
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
}

label {
  font-weight: 600;
  margin-bottom: 4px;
}
.btn-outline-darkgreen {
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-darkgreen:hover {
  background-color: #064d06; /* darker green */
  border-color: #064d06;
  color: white;
}
